
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1"></div>
               
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(function() {
            google.charts.load("current", { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                $.ajax({

                    /*
                     1)

                    */
                }).done(function (e) {
                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Topping');
                data.addColumn('number', 'Slices');
                data.addRows([
                    ['Mushrooms', 3],
                    ['Onions', 1],
                    ['Olives', 1],
                    ['Zucchini', 1],
                    ['Pepperoni', 2]
                ]);{}

                var view = new google.google.visualization.DataView(data);              // Set chart options
                var options = {'title':'How Much Pizza I Ate Last Night',
                    'width':400,
                    'height':300};

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(view, options);
                } );
            }
        });
    </script>
      
}
