
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Producs</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>
<body>
<div class="main" ng-controller="ProductCtrl">
    <form name="urunekle">
        <input type="text" placeholder="Ürün Adı" name="urunadi" ng-model="yeni.urunAdi" required minlegth="3"/><br />
        
        <label style="color: red;" ng-show="!urunekle.urunadi.$valid &&urunekle.urunadi.$dirty">Lütfen en az 3 karakter giriniz</label><br />

        <input type="number" placeholder="Fiyat" name="fiyat" ng-model="yeni.fiyat" required min="3"
            max="999"/><br />
        
        <label style="color: red;" ng-show="!urunekle.fiyat.$valid&&urunekle.fiyat.$dirty">Lütfen en az 3 karakter giriniz</label><br />


        <input type="button" value="Ekle" ng-click="ekle()" />
        {{urunekle.$valid}}
    </form>
    <br/>
    <input type="text" placeholder="Ara..." ng-model="txtara" />
    <ul>
        <li ng-repeat="item in urunler |filter:txtara track by item.id ">
            
            {{item.urunAdi}} - {{item.fiyat}} ₺
            <input type="button"  value="Sil" ng-click="sil(item.id)" />
        </li>
    </ul>
</div>
</body>
</html>